h1.title = question.title

== question.text

h2.subtitle Comments:

= render 'questions/answers/form'

= render partial: "answer",
        collection: answers,
        as: :answer

= render 'controls'
